doctype html
html
  head
    title= subject
  body
    h1.h1= subject
    p Bonjour,
    br
    p Nous avons bien reçu votre demande de pret de materiel qui concerne le materiel suivant:
    p= itemName
    p= dateStart
    p jusqu'au
    p= dateEnd
    p Pour confirmer la demande, veuillez montrer au service pédago, accompagné de votre carte étudiante.
    p Merci de votre compréhension,
    br
    strong Le service Pédagogique de l'ETNA
